<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>Online Marketplace</h1>
    <p>Your best online selling resource.<p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
      <p>Avatar: <img src="{{user.avatar}}"/></p>
      <form class = "small-12 medium-8 large-8 columns" method = "post" action = "create-post">
            <fieldset class = "form-group">
                <label for ="title">Title of your post </label>
                <input type="text" placeholder = "Title of your post" name="title">
            </fieldset> 
            <div class = "small-12 medium-4 columns small-centered">
                <input type = "submit" value ="Submit"> 

            </div>

        </form> 
    </div>
  </div> 
{{else}}
  <div class="jumbotron">
    <h1>Online Marketplace</h1>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span> 
        Sign in!
      </a>
    </p>
  </div>
  
{{/if}}
   
